@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
/* GLobal */
html {
	overflow-y: scroll;
}
body {
	font-family: Arial, Sans-serif;
	background: #f1f1f1;
	padding: 0;
	margin: 0;
}
.hidden { 
	display: none;
}
.error-message {
	text-align: center;
}

.search{
	position: absolute;
}

#page-title{
	font-family: Oswald;
	text-align: center;
}
.container {
	margin: 0 auto;
	max-width: 1300px;
	text-align: center;
}
.search {
	text-align: center;		
}
.thumbs.container {
	max-width: 1200px;
	padding-top: 50px;
	text-align: left;
}
.thumb {
vertical-align: top;
text-align: left;
display: inline-block;
position: relative;
width: 32%;
height: 310px;
background: #fff;
margin: 5px 0.5%;
border: 1px solid rgba(0,0,0,0.15);
border-radius: 7px;
padding: 15px;
box-sizing: border-box;
}
.thumb .poster-img {
	float: left;
	width: 200px;
	height: 275px;
	margin-right: 8px;
	margin-bottom: 8px;
	border-radius: 8px;
}
.thumb > p {
	color: #444;
	font-size: 16px;
	height: 28px;
	line-height: 28px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.thumb > .movie-name {
	font-family: Oswald, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #000;
}
.thumb > .year {
	font-weight: 400;
	white-space: nowrap;
}
.thumb > .rating {
	font-weight: 400;
	white-space: nowrap;
}
.thumb > .bio {
	font-weight: 400;
	height: 90px;
	text-overflow: ellipsis;
	line-height: 18px;
}
